/* ?-----------------------------------------------------------------------------------------
?                                           GENERAL
?--------------------------------------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  font-family: "Gruppo", cursive;
  font-size: large;
}

.container {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-areas: 
  "header header header"
  "navbar navbar navbar"
  "section section section"
  "aside aside aside"
  "footer footer footer";
}

/* ?-----------------------------------------------------------------------------------------
?                                           HEADER
?--------------------------------------------------------------------------------------------*/

.header {
  grid-area: header;
}

.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../images/AdobeStock_252639284.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  min-height: 10em;
}

.hero-text{
  padding: 1em;
}

h1 {
  font-family: "Audiowide", cursive;
  font-size: 3em;
}

/* ?-----------------------------------------------------------------------------------------
?                                           NAVBAR
?--------------------------------------------------------------------------------------------*/

.nav {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  top: 0;
  position: sticky;
}

.nav a{
  text-decoration: none;
  color: white;
  padding: 0.5rem 0;
}

/* ?-----------------------------------------------------------------------------------------
?                                           SECTION
?--------------------------------------------------------------------------------------------*/

.section{
  display: flex;
  flex-direction: row;
  grid-area: section;
}

.imagenes {
  display: flex;
  flex-direction: column;
}

img{
  width: 100%;
}

.texto{
  margin: 1rem;
}

#foto1 {
  grid-area: image1;
  display: flex;
  flex-direction: column;
}

#pie1 {
  grid-area: text1;
}

#foto2 {
  grid-area: image2;
  display: flex;
  flex-direction: column;
}

#pie2 {
  grid-area: text2;
}

#foto3 {
  grid-area: image3;
  display: flex;
  flex-direction: column;
}

#pie3 {
  grid-area: text3;
}

.aside {
  grid-area: aside;
}

/* ?-----------------------------------------------------------------------------------------
?                                           FOOTER
?--------------------------------------------------------------------------------------------*/

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  padding: 1em 0.5em;
}

/* ?-----------------------------------------------------------------------------------------
?                                        RESPONSIVE STUFF
?--------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px){
  .imagenes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "image1 image1 image1 text1"
    "text2 image2 image2 image2"
    "image3 image3 image3 text3";
  }
}

@media only screen and (min-width: 1024px){
  .container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
    "navbar header header header"
    "navbar section section section"
    "aside aside aside aside"
    "footer footer footer footer";
  }

  .nav{
    flex-direction: column;
    justify-content: start;
  }

}