* {
  padding: 0;
  margin: 0;
  font-family: "Gruppo", cursive;
  font-size: large;
}

body {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 100px auto 100px;
  /* grid-template-rows: */
  grid-gap: 1 rem;
  grid-template-areas: 
  "header header header"
  "navbar navbar navbar"
  "section section section"
  "aside aside aside"
  "footer footer footer";
}

.header {
  display: flex;
  flex-direction: column;
  grid-area: header;
}

.nav {
  grid-area: navbar;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.nav a{
  text-decoration: none;
  color: white;
  padding: 0.5rem 0;
}

.section{
  display: flex;
  flex-direction: row;
  grid-area: section;
}

.aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  padding: 1rem 0;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../images/AdobeStock_252639284.jpeg");
  /* padding-top: 3em; */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.hero-text{
  padding: 2em;
}

h1 {
  font-family: "Audiowide", cursive;
  font-size: 3em;
}

.imagenes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  /* grid-row-gap: 10px; */
  grid-template-areas:
    "image1 image1 image1 text1"
    "text2 image2 image2 image2"
    "image3 image3 image3 text3";
  justify-items: safe;
  justify-content: safe;
}

#foto1 {
  grid-area: image1;
  display: flex;
  flex-direction: column;
}

#pie1 {
  grid-area: text1;
}

#foto2 {
  grid-area: image2;
  display: flex;
  flex-direction: column;
}

#pie2 {
  grid-area: text2;
}

#foto3 {
  grid-area: image3;
  display: flex;
  flex-direction: column;
}

#pie3 {
  grid-area: text3;
}
